* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 90vw;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(#b44360, #5a6dc2);
  font-family: sans-serif;
}
/*/ container /*/
.container {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-left: 22px;
}

button:hover {
  cursor: pointer;
  background-color: #802d42;
}

img {
  width: 150px;
  height: 110px;
  border-radius: 30%;
}
h1 {
  color: #fff;
  font-size: 2.5rem;
  font-family: "Merienda", cursive;
  margin-top: 15px;
}
/*todo-form style */
.todo-form {
  margin: 40px 0px;
}
.add-button {
  background-color: #726cd8;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 7px;
  font-size: 1.2rem;
}
.todo-input {
  width: 220px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  margin-left: 1px;
}
ul {
  list-style: none;
  width: 250px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  font-size: 1rem;
  background-color: white;
}
li {
  color: #899098;
  border-bottom: 1px solid #cfcbcc;
  padding: 8px 0;
}
li::before {
  content: "\25A1";
  padding: 10px 10px;
  font-size: 20px;
}
li:hover {
  text-decoration: line-through;
  cursor: pointer;
}
li:last-child {
  border-bottom: none;
}

.checked {
  color: green;
}
.checked:before {
  content: "\2713";
  padding: 10px 10px;
  font-size: 1rem;
}
.checked:hover {
  text-decoration: none;
}
.checked:after {
  content: "(remove)";
  color: tomato;
  text-align: right;
}
/*/ todo-form style ends /*/
/* container style end*/
